[submodule ".registry"]
	path = .registry
	url = https://github.com/rekyt/rekyt.r-universe.dev
	branch = HEAD
[submodule "bnfimage"]
	path = bnfimage
	url = https://github.com/Rekyt/bnfimage
[submodule "ecolottery"]
	path = ecolottery
	url = https://github.com/frmunoz/ecolottery
	subdir = pkg
[submodule "fdcoexist"]
	path = fdcoexist
	url = https://github.com/Rekyt/fdcoexist
[submodule "fddimensionality"]
	path = fddimensionality
	url = https://github.com/Rekyt/fddimensionality_ms
[submodule "funbiogeo"]
	path = funbiogeo
	url = https://github.com/FRBCesab/funbiogeo
[submodule "fundiversity"]
	path = fundiversity
	url = https://github.com/funecology/fundiversity
[submodule "funrar"]
	path = funrar
	url = https://github.com/Rekyt/funrar
[submodule "rromeo"]
	path = rromeo
	url = https://github.com/ropensci-archive/rromeo
[submodule "rtaxref"]
	path = rtaxref
	url = https://github.com/Rekyt/rtaxref
